<div class="main">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title class="title">LOBO GUARÁ</mat-card-title>
      </mat-card-header>
    <img class="image" mat-card-image src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9c/Chrysocyon.brachyurus.jpg/800px-Chrysocyon.brachyurus.jpg">
    <mat-card-content>
      <p class="text">
        O lobo-guará, é uma espécie de canídeo endêmico da América do Sul. Suas marcas lembram as de uma raposa, mas não é uma raposa nem um lobo. Foi extinto em parte de sua ocorrência ao sul, mas ainda deve ocorrer no Uruguai.
      </p>
    </mat-card-content>
    <mat-card-actions class="icon">
      <button mat-button><mat-icon>favorite</mat-icon></button>
      <button mat-button><mat-icon>share</mat-icon></button>
    </mat-card-actions>
  </mat-card>

  <div class="main">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title class="title">TIGRE BRANCO</mat-card-title>
        </mat-card-header>
      <img class="image" mat-card-image src="https://img.freepik.com/fotos-premium/um-tigre-branco-com-olhos-azuis-e-um-fundo-escuro_899894-31554.jpg">
      <mat-card-content>
        <p class="text">
          O tigre branco ou tigre branqueado é uma variante de pigmentação leucística do tigre asiático continental. Tem as listras pretas típicas de um tigre, mas sua pelagem é branca ou quase branca.
        </p>
      </mat-card-content>
      <mat-card-actions class="icon">
        <button mat-button><mat-icon>favorite</mat-icon></button>
        <button mat-button><mat-icon>share</mat-icon></button>
      </mat-card-actions>
    </mat-card>

    <div class="main">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title class="title">LEÃO</mat-card-title>
          </mat-card-header>
        <img class="image" mat-card-image src="https://lh4.googleusercontent.com/-BqOlHjLQEks/TWughuMW-bI/AAAAAAAAABg/5jNRu4FIEjI/s1600/leao.jpg">
        <mat-card-content>
          <p class="text">
            O leão é uma espécie de mamífero carnívoro do gênero Panthera e da família Felidae. É uma dos quatro grandes felinos, com alguns machos excedendo 250 quilogramas em peso, sendo o segundo maior felino recente depois do tigre.
          </p>
        </mat-card-content>
        <mat-card-actions class="icon">
          <button mat-button><mat-icon>favorite</mat-icon></button>
          <button mat-button><mat-icon>share</mat-icon></button>
        </mat-card-actions>
      </mat-card>
</div>
