.menu {
    display:flex
}
.menu a {
    margin-left: 10px;
    font-size: 30px;
    text-decoration: none;
    color: blue;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.menu a:hover {
    font-size: 32px;
}