<p>
  <mat-toolbar color="warn">
    <mat-toolbar-row>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with list icon" href="http://localhost:4200/login">
        <mat-icon>list</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with home icon" href="http://localhost:4200">
        <mat-icon>home</mat-icon>
      </button>
      <span>Star's Zoológico</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with search icon">
        <mat-icon>search</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</p>
